.player_container {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: #333842;
    border-radius: 10px;
    gap: 1.5rem;
    .player_control_container {
        height: 100%;
        display: flex;
        align-items: center;
       
        gap: .7rem;
        div {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .player_timing{
        display: flex;
        gap: .7rem;
        align-items: center;
        .player_liner{
            width: 250px;
            height: 4px;
            background: grey;
            .liner{
                width: 100%;
                height: 100%;
                background: white;
            }
        }
        h4{
            font-size: 15px;
            color: rgb(156, 156, 156);
        }
        div{
            display: flex;
            align-items: center;
        }
    }
    .playing_details{
        min-width: 300px;
        display: flex;
        
        gap: .5rem;
        .playing_cover_img{
            min-width: 60px;
            height: 60px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .playing_names{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;
            width: 200px;
            h4{
                font-size: 16px;
                height: 20px;
                overflow: hidden; 
                font-weight: 400;
                color:white;
            }
            h6{
                font-size: 15px;
                font-weight: 400;
                color: #898989;
            }
        }
    }
    .player_functional_icons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;
    }
}
