.add_playlist_container{
    width: 260px;
    height: fit-content;
    background: #1d1d1d;
    position: absolute;
    z-index: 99999;
    /* top: -50%; */
    /* left: -105%; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}
.add_playlist_item{
    height: 50px;
    padding: .5rem .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_playlist_header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #89898933;
}
.add_playlist_header h3{
    font-size: 16px;
    font-weight: 500;
}
.add_playlist_item input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #373737;
    padding: 0 1rem;
    border-radius: 5px;
    font-size: 17px;
    color: white;
}
.add_button_container{
    display: flex;
    gap: .8rem;
}
.cancel_button{
    background: transparent;
    color: #898989;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border: none;
}